<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1>Changing Password</h1></div>
  <div class="panel-body">

    <%= render 'form' %>

  </div>
</div>
