@import "bootstrap-sprockets";
@import "bootstrap";

@import "scaffolds";
@import "songs";

/*deleted default text, change application.css to application.scss*/

html {
  height: 100%;
}

li.nav-text {
  padding: 15px;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 30px;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
